**/checkpoint
**/runs
**/__pycache__
**/prof
**/Vision/pipeline
**/*.tar
*.code-workspace
.pmdebug_history
llm_service_config.yaml
server.log
client.log
Common/frontend/image-viewer
Common/frontend/dist/
node_modules/
.clauderc
